body {
  padding: 0; 
  margin: 0;
  overflow:hidden;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  position:relative;
  top:20px;

}
.pgoprv{
  position:relative;
  max-width:200px;
  width:50vw;
  pointer-events:none;
} 

.pgoprv2{
  position:relative;
  top:10px;
  max-width:300px;
  pointer-events:none;
  width:50vw;
}

.text{
  position:relative;
  top:15px;
  color: white;
  font-size:3em;
  font-weight:600;
  pointer-events:none;
  text-align: center;
}

.subtext{
  font-size:.5em;
}

#my{
  position:absolute;
}
@media (max-width:676px) {
  .text{
    font-size:2em;
  }
}

@media (max-width:450px) {

  .text{
    font-size:1.7em;
    position:relative;
    top:60px;
  }
}